


html{
    body{
        font-size: 62.45%;
        box-sizing: border-box;
        display: flex;
        section.calculator{
            input#screen{
                width: 90%;
                margin: 0 auto;
                flex: 1;
                text-align: right;
            }
            button.one{
                width: 5rem;
                height: 2rem;

            }


            button.two{
                
                width: 10rem;
                height: 2rem;

                
            }


            button.three{
                width: 15 rem;
                height: 2rem;

            }
        }
    }
}